@model IEnumerable<Lab02_ed_22.Models.JugadorModel>

@{
    ViewData["Title"] = "BusquedaRol";
}

<h1>BusquedaRol</h1>

<p>
        @using (Html.BeginForm())
        {
            <p>
            Busqueda por Rol: @Html.TextBox("Rol") <br />
            <input type="submit" value="BusquedaRol" />
            </p>
        }
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KDA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreepScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KDA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreepScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
