@model IEnumerable<Lab02_ed_22.Models.EquipoModel>

@{
    ViewData["Title"] = "Lista equipos";
}

<h1>Equipos</h1>

<form asp-controller="Equipo" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Cargar</button>
</form>
<p>
    <a asp-action="Create">Nuevo Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.NombreEquipo }) |
                @Html.ActionLink("Details", "Details", new { id = item.NombreEquipo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NombreEquipo  })
            </td>
        </tr>
}
    </tbody>
</table>
